.logo-box-shadow {
  -webkit-box-shadow: 8px 10px 9px 6px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 8px 10px 9px 6px rgba(0, 0, 0, 0.31);
  box-shadow: 2px 5px 9px 6px rgba(0, 0, 0, 0.31);
}
.logo-shadow {
  box-shadow: 0px 0px 20px -10px rgb(0 0 0 / 10%),
    2px 3px 6px 2px rgb(0 0 0 / 38%), 7px 0px 14px -2px rgb(0 0 0 / 40%);
}

.profile-shadow {
  box-shadow: 0px 0px 20px -10px rgb(0 0 0 / 10%),
    2px 3px 6px 2px rgb(0 0 0 / 30%), 7px 0px 14px -2px rgb(0 0 0 / 40%);
}


.app-name{
  font-size: 16px;
  font-weight: 300;
  font-family: sans-serif;
}
.example-icon{
  width: 40px;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  display: block;
  height: 34px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  padding: 0;
}
.mat-list-base{
padding-top: 0px;
}

.big {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}
.cal{
height: calc(100% - 100px);
}
.ml-3 {
  margin-left: -0.25rem;
}

.mat-icon{
  width: 32px;
}
.titlebg{
  background: rgb(51, 102, 255);
}
.seco {
  height: 37px;
  background-color: #9a9a9a;
  border-radius: 0;
  padding: 0;
}
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 1px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.active{
  background-color: #9a9a9a;
}

.text{
  font-weight: 800;
  color: blue;
}

.bg{
  background-color: #f2f2f2;
}
