<h1 mat-dialog-title class="text">Hi {{data.name}} Dialog Model</h1>
<div mat-dialog-content>
  <p class="text">Value from Page:</p>
  <mat-form-field appearance="outline">
    <mat-label class="text">Enter Value to send back</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>




<!--
<h2 mat-dialog-title>Session timeout</h2>
<mat-dialog-content>Hii {{data.name}}. You will be logged out due to in activity</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close mat-dialog-close="true">Keep me logged in</button>
  <button mat-button mat-dialog-close mat-dialog-close="false">Log out</button>
</mat-dialog-actions>-->
