<mat-tab-group  class="custom mt-1 ml-1">
  <mat-tab label="First">  Hii, you selected - Content 1</mat-tab>
  <mat-tab label="Second"> Hii, you selected - Content 2</mat-tab>
  <mat-tab label="Third">  Hii, you selected - Content 3</mat-tab>
  <mat-tab label="Fourth"> Hii, you selected - Content 4</mat-tab>
  <mat-tab label="Fifth">  Hii, you selected - Content 5</mat-tab>
  <mat-tab label="Sixth">  Hii, you selected - Content 6</mat-tab>
  <mat-tab label="Seventh">Hii, you selected - Content 7</mat-tab>
</mat-tab-group>
