.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.primary-button{
  background-color: #336bff;
  color: #fff;
}

.example-stepper {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.mat-form-field-flex>.mat-form-field-infix {
  padding: 2px 0 8px!important;
}
.lab{
  color: white;
  background-color: #3366ff;
}
.custom_btn{
  background-color: #3366ff;
  // opacity: 1!important;
  border-radius: 20px!important;
  color: white;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  line-height: 25px;
}
