<div class="ml-3 md:ml-16 lg:ml-16">
<div>
  <p class="cem">Login Restricted to the User approved by</p>
</div>
<div class="ml-8 md:ml-16 lg:ml-16">
  <p class="blue">Administrator Apps</p>
</div>
<br>
<div class="ml-2 md:ml-11 lg:ml-11">
  <p class="cem">Face Recognization Login <span class="sp">*</span></p>
</div>
<div class="md:ml-11 lg:ml-[7px]">
  <img src="../../assets/img/dummy.png" class="h-44 w-44  lg:h-64 lg:w-64">
</div>
<div class="ml-14 md:ml-24 lg:ml-24">
<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close class="custom_btn" [routerLink]="['head']">Login</button>
</mat-dialog-actions>
</div>
</div>
<mat-divider class="w-48 md:w-96 lg:w-96 opacity-0"></mat-divider>
