<form [formGroup]="firstFormGroup">
  <!--Phase 1-->
  <div class=" mt-1 ml-1 grid">
<div class="flex flex-col ">
  <mat-form-field appearance="outline" class="w-72 custom_text">
    <mat-label>Enter Name</mat-label>
    <input matInput placeholder="Last name, First name" formControlName="name1" required>
    <mat-error>Name is required</mat-error>
  </mat-form-field>

</div>
<div class="flex flex-col re">
  <mat-form-field appearance="outline" class="w-72  custom_text">
    <mat-label>Choose a Gender</mat-label>
    <mat-select formControlName="gender1" required>
      <mat-option *ngFor="let gender of genders" [value]="gender.value">
        {{gender.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error>Gender required</mat-error>
    </mat-form-field>

</div>
</div>
<!---phase 2-->
<div class=" mt-1 ml-1 grid ">
  <div class="flex flex-col re">
    <mat-form-field appearance="outline" class="w-72  custom_text">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country1" required>

        <mat-option *ngFor="let country of countrys" [value]="country.value">
          {{country.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error>country is required</mat-error>
    </mat-form-field>

    </div>
<div class="flex flex-col re">
  <mat-form-field appearance="outline" class="w-72 custom_text">
    <mat-label>Country</mat-label>
    <mat-select formControlName="country1" required>

      <mat-option *ngFor="let country of countrys" [value]="country.value">
        {{country.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error>country is required</mat-error>
  </mat-form-field>

  </div>
</div>
<!--Phase 3-->
<Div class="flex mt-1 ml-1 space-x-12">
<div class="flex flex-col">
  <mat-form-field appearance="outline"  class="w-72  custom_text">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date1" required>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>Date is required</mat-error>
  </mat-form-field>

</div>
</Div>

<!--Next-->
<div class="ml-[40%]">
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="firstFormGroup.invalid" class="custom_btn">Submit</button>

</div>
<div class="ml-4">
<p>form value : {{firstformvalue|json}}</p>
<p>submit status: {{submitstatus}}</p>
</div>
</form>
