.line{

  margin-left: 1cm;
}
.textarea{
  opacity: 0%;
}
.custom_btn{
  background-color: #3366ff;
  opacity: 1!important;
  border-radius: 20px!important;
  color: white;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  line-height: 25px;
}
